@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("twitter.com") {

.HeartAnimation {
    position: absolute;
    background: transparent url("http://s33.postimg.org/ff1amd3rh/heart.png") no-repeat scroll left center / 2900% auto;
    height: 50px;
    width: 50px;
    left: -100%;
    top: -100%;
}
  
}
